body {
    background-image: url('pink.jpg');
}

h1 {
    color: Black;
    font-size: xx-large;
    text-align: center;
}

form {
    color: black;
    text-align: center;
    font-size: x-large;
}

h2 {
    color: black;
}

h3 {
    color: black;
    font-size: x-large;
}

ul {
    color: black;
}

li {
    font-weight: bold;
}

p {
    color: black;
    font-weight: bold;
    font-size: large;
}

#div1 {
    width: 350px;
    height: 300px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

button {
    background-color: turquoise;
    text-align: center;
}